
@{
    ViewBag.Title = "Index";
}

<style>
    .pli {
        font-size: 15px;
        padding: 20px;
        list-style: none;
    }

    span {
        padding: 10px;
    }

    .mail {
        border: 1px #909090 solid;
    }

    .pul{
        padding: 0px;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="border-right: 2px #909090 solid;">
        <ul class="pul">
            <li class="pli">
                <i class="label label-danger"> 23 </i>
                <span>Caixa de entrada</span>
            </li>
            <li class="pli">
                <i class="label label-danger"> 1 </i>
                <span>Caixa de Saída</span>
            </li>
            <li class="pli">
                <i class="label label-danger"> 9 </i>
                <span>Enviados</span>
            </li>
            <li class="pli">
                <i class="label label-danger"> 2 </i>
                <span>Spam</span>
            </li>
        </ul>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="padding:0px;">
        <ul class="pul">
            <li class="mail">
                <b style="font-size:20px">Titulo</b><br />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sapien ut arcu tempor dignissim ut vitae risus. Curabitur maximus tellus odio, vitae sodales diam placerat nec. </span>
            </li>
            <li class="mail">
                <b style="font-size:20px">Titulo</b><br />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sapien ut arcu tempor dignissim ut vitae risus. Curabitur maximus tellus odio, vitae sodales diam placerat nec. </span>
            </li>
            <li class="mail">
                <b style="font-size:20px">Titulo</b><br />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sapien ut arcu tempor dignissim ut vitae risus. Curabitur maximus tellus odio, vitae sodales diam placerat nec. </span>
            </li>
            <li class="mail">
                <b style="font-size:20px">Titulo</b><br />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sapien ut arcu tempor dignissim ut vitae risus. Curabitur maximus tellus odio, vitae sodales diam placerat nec. </span>
            </li>
        </ul>
    </div>
</div>

