

<style>
    img{
        width:80%;
    }
</style>


<h3> Galeria</h3>

<div class="col-md-12 col-sm-12 col-xs-12">


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
      <img src="~/Content/Images/aluno.jpg" />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 50px;">
        <img src="~/Content/Images/aluno.jpg" />
    </div>




</div>

