
@{
    ViewBag.Title = "Index";
}

<style>
    #foto-perfil {
        border-radius: 200px 200px 200px 200px;
        border: 5px solid #000000;
        width: 50%;
    }

    .nav-item {
        cursor: pointer;
    }

    .nav-item:hover{
        color: black;
        background-color: white;

    }
</style>
<h2>Informações Aluno</h2>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-md-6 pull-left">
            <h4>
                <b>Aluno: </b> Xxxxx xxxx
            </h4>
            <h4>
                <b>Turma: </b> 1a
            </h4>
        </div>
        <div class="col-md-6 text-center">
            <img id="foto-perfil" src="~/Content/Images/aluno.jpg"/>
        </div>
       

    </div>

    <div class="row" style="margin-top:5px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="navbar-nav" style="font-size: 24px; padding: 20px;">
                <span style="padding: 18px;" class="nav-item nav-link active" href="#">Notas <span class="sr-only">(current)</span></span>
                <span style="padding: 18px;" class="nav-item nav-link" href="#">Frequencia Aluno</span>
                <span style="padding: 18px;" class="nav-item nav-link" href="#">Histórico</span>
            </div>
        </nav>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Prova 1</th>
                <th>Prova 2</th>
                <th>Prova 3</th>
                <th>Trabalho 1</th>
                <th>Trabalho 2</th>
                <th>Trabalho 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Português
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    Matemática
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    História
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    Geográfia
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    Ciências
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    Quimica
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
            <tr>
                <th>
                    Ed. Física
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
                <th>
                    10
                </th>
            </tr>
        </tbody>

    </table>



</div>
