
@{
    ViewBag.Title = "Mensagem";
}

<style>

    body {
        text-align: justify;
        text-indent: 10px;
    }

    

</style>

<html>

<body>
    <header><h1>Mensagens</h1> </header>

   
    <div>
        <h3>Aluno 1</h3>
        <div><h4>Ola</h4></div>


        <hr />


        <h3>Aluno 2 </h3>
        <div><h4>Bom dia</h4></div>

        <hr />

        <div>
            <input id="Text1" type="text" />
            <input id="Submit1" type="submit" value="Enviar Mensagem" />
        
    </div>

</body>


</html>


