
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>

        body {
            background: url("../../Content/Images/20140407170452_1200_675_-_windows_xp.jpg") no-repeat;
            background-size: 100%;
            width: 100%;
        }


    </style>
</head>
<body>
    
    <div id="main" class="col-md-12">

        <input class="form-control" id="user" />

        <input class="form-control" id="pass" />

        <button class="btn btn-success"><i class="far fa-sign"></i> Login</button>


    </div>
</body>
</html>
